html, body, ul, ol {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

button {
  -webkit-appearance: none;
}

ol, ul {
  list-style-position: inside;
}

.font-size-x-large {
  font-size: 40px;
}

.font-size-large {
  font-size: 32px;
}

.font-size-medium {
  font-size: 24px;
}

.font-size-small {
  font-size: 16px;
}

.uppercase {
  text-transform: uppercase;
}

.color-a {
  color: #444;
}

.color-b {
  color: #444;
}

.color-c {
  color: #444;
}

div.inline {
  display: inline-block;
}

.container {
  padding: 12px;
  border-radius: 500px;
  box-shadow: 0 0 4px 0 #aaa;
  background: #efefef;
}

button:not(.btn-ii), .btn {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  padding: 12px;
  background: #78abcd;
  color: #dc1d31;
  color: #335ea4;
  border: none;
  box-shadow: inset 0px 0px 4px 0px #888;
  font-size: 24px;
  transition: all .2s;
  border-radius: 500px;
}
button:not(.btn-ii).inline, .btn.inline {
  display: inline-block;
}
button:not(.btn-ii):hover, .btn:hover {
  color: #dc1d31;
}

button.btn-ii, .btn-ii {
  display: block;
  padding: 4px;
  color: #dc1d31;
  color: #335ea4;
  border: none;
  font-size: 16px;
  box-shadow: inset 0 0 4px 0 #888;
  border-radius: 500px;
}

.flex {
  display: flex;
}

.flex-vert {
  flex-direction: column;
}

.flex-hor {
  flex-direction: row;
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounce {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.fabric {
  background-color: #78abcd;
  background-image: url(../img/fabric-1-light.png);
}

.c-red {
  color: #dc1d31 !important;
}

.c-blue {
  color: #58bdcb !important;
}

body {
  font-family: "Fira Sans", sans-serif;
}

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
@media (max-width: 768px) {
  header {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
}

.redcodebluecode {
  padding: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
  text-decoration: none;
}
.redcodebluecode > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.redcodebluecode .redblue {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  font-size: 28px;
}
.redcodebluecode .red {
  color: #dc1d31;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.redcodebluecode .blue {
  color: #78abcd;
}
.redcodebluecode .code {
  color: #4d4d4d;
  margin: auto;
}

header {
  border-bottom: 1px solid #a8a8a8;
}

.page-title {
  color: #4d4d4d;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  position: absolute;
  font-family: "Fira Sans", sans-serif;
}
@media (max-width: 768px) {
  .page-title {
    display: none;
  }
}

.main {
  margin-top: 40px;
}

.main-middle {
  margin: auto;
  width: 600px;
}
@media (max-width: 768px) {
  .main-middle {
    width: calc(100% - 30px);
  }
}

.blogfeed-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .blogfeed-item {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #a8a8a8;
  }
  .blogfeed-item:last-child {
    border-bottom: none;
    margin-bottom: 50px;
  }
  .blogfeed-item .blogfeed-title, .blogfeed-item .blogfeed-text-preview {
    width: 100%;
    padding: 0;
    text-align: left;
  }
  .blogfeed-item .blogfeed-title {
    margin-bottom: 15px;
  }
  .blogfeed-item .blogfeed-text-preview {
    border-left: none;
  }
}

.blogfeed-title {
  font-family: "Roboto Slab", serif;
  color: #78abcd;
  text-align: right;
  padding-right: 20px;
  font-size: 28px;
  width: 40%;
}
.blogfeed-title a {
  text-decoration: none;
  color: #78abcd;
}
.blogfeed-title .blogfeed-publishdate {
  color: #4d4d4d;
  font-size: 14px;
  margin-top: 5px;
}

.blogfeed-text-preview {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  border-left: 1px solid #a8a8a8;
  padding-left: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.blogfeed-text-preview > div:first-child {
  margin-bottom: 10px;
}

.read-more-link {
  color: #dc1d31;
  text-decoration: none;
}

pre {
  width: calc(100% - 20px);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  line-height: 1.2;
  color: #78abcd;
  background: #eaeaea;
  color: #326888;
  border-radius: 5px;
  padding: 20px;
  overflow-x: auto;
}

.blog-h1, .blog-h1 h1 {
  color: #dc1d31;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.blog-post-meta {
  font-family: "Roboto Slab", serif;
  color: #78abcd;
  margin-top: 10px;
  margin-bottom: 20px;
}

body {
  min-height: calc(100vh - 200px);
}

footer {
  border-top: 1px solid #a8a8a8;
  height: 50px;
  margin-top: 50px;
}

/* blog meta, such as comments, likes */
.blog-post-meta {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.img-editor-bar {
  display: none !important;
}

.blog-post-wrapper {
  width: 100%;
  margin-top: 25px;
}

/* blog comments */
.blog-comment-section {
  border-top: 1px solid #78abcd;
  margin-top: 20px;
  padding-top: 20px;
}

.blog-comment-section-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.blog-comment-likes {
  color: #dc1d31;
}

.blog-comment-section-comments {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.blog-comment {
  padding: 20px;
  border-bottom: 1px solid #78abcd;
}
.blog-comment .hide-replies {
  padding-bottom: 0;
  cursor: pointer;
  color: #78abcd;
  font-weight: bold;
}
.blog-comment[data-replies-visible="true"] .view-replies {
  display: none;
}
.blog-comment[data-replies-visible="true"] .comment-replies-content {
  display: block;
}
.blog-comment[data-replies-visible="false"] .hide-replies {
  display: none;
}
.blog-comment[data-replies-visible="false"] .comment-replies-content {
  display: none;
}
.blog-comment .blog-comment {
  border-bottom: none;
  padding: 20px 20px 0 20px;
}
.blog-comment .blog-comment .comment-replies, .blog-comment .blog-comment .comment-reply {
  display: none;
}

.commentor-name {
  font-weight: bold;
}

.comment-content {
  padding: 10px 0;
}

.comment-reply {
  color: #78abcd;
  cursor: pointer;
}

.comment-replies-title {
  color: #78abcd;
  font-weight: bold;
  padding-bottom: 10px;
  cursor: pointer;
}

.leave-a-comment-section {
  padding: 20px;
  border-bottom: 1px solid #78abcd;
}

body.not-signed-in .sign-in-form {
  display: block;
}

.leave-a-comment-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.enter-comment {
  margin-bottom: 10px;
}
.enter-comment textarea {
  width: 400px;
  height: 150px;
  padding: 10px;
  line-height: 20px;
  border-color: #78abcd;
}
@media (max-width: 768px) {
  .enter-comment textarea {
    width: 100%;
  }
}

.comment-leave-a-reply .enter-comment textarea {
  height: 80px;
}

.blog-comment .comment-leave-a-reply {
  display: none;
}
.blog-comment .blog-comment .comment-leave-a-reply {
  display: none !important;
}
.blog-comment.reply-active .comment-reply {
  display: none;
}
.blog-comment.reply-active .comment-leave-a-reply {
  display: block;
}

.sign-in-form input {
  margin-bottom: 10px;
  height: 40px;
  width: 400px;
  border-color: #78abcd;
  border-width: 1px;
  padding: 0 10px;
  line-height: 40px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .sign-in-form input {
    width: 100%;
  }
}

.user-signed-in .sign-in-form {
  display: none;
}

.submit-comment, .submit-reply {
  background: #78abcd;
  padding: 10px 15px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.comment-reply-count-0 {
  display: none;
}

/*# sourceMappingURL=core.css.map */
