body {
    font-family: $sans;
    background: #565656;
}
header {
    @include flex();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    position: relative;
    height: 240px;
    background: $rbgray;
}
.redcodebluecode {
//    @include flex();
//    @include justify-content(space-between);
    
    padding: 15px;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5vw;
    @media (max-width: $screen-sm-max) {
        font-size: 5.5vw;
    }
    @media (max-width: $screen-xs-max) {
        font-size: 8.5vw;
    }
    
    text-decoration: none;
    > div {
        @include flex();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);   
    }
    
    .redblue {
        @include flex();
        @include justify-content(center);
        font-size: 3vw;
        @media (max-width: $screen-sm-max) {
            font-size: 5vw;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 8vw;
        }
    }
    .red {
        color: $rborange;
        @include transform(rotateY(180deg));
    }
    .blue {
        color: $rbteal;
    }
    .code {
        color: $rbred;
        margin: auto;
    }
}

.page-title {
    color: $rbwhite;
    font-size: 20px;
    font-family: $sans;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    @include flex();
    @include justify-content(center);
    @include flex-direction(column);
    h1 {
        margin: 0;
        font-size: 14vw;
        text-align: center;
        z-index: 0;
        opacity: 10%;
        width: 100%;
        @media (max-width: $screen-sm-max) {
            font-size: 20vw;
            line-height: 16vw;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 27vw;
            line-height: 24vw;
        }
    }
}
.main {
    z-index: 1;
    position: relative;
}
.main-middle {
    margin: auto;
    width: 100%;
}
.blog-home {
    
}

.blogfeed-item {
    @include flex();
    @media (max-width: $screen-sm-max) {
        @include flex-direction(column);
        margin: 10px;
        &:last-child {
            border-bottom: none;
        }
        
        .blogfeed-title, .blogfeed-text-preview {
            width: 100%;
            padding: 20px;
            text-align: left;
        }
        .blogfeed-text-preview {
            padding: 20px;
        }
    }
}
.blogfeed-title {
    font-family: $sans;
    font-weight: bold;
    color: $rbgray;
    text-align: right;
    padding: 60px;
    padding-left: calc(50% - 400px);
    font-size: 28px;
    width: 50%;
    a {
        text-decoration: none;
        color: $rbgray;
    }
    .blogfeed-publishdate {
        color: $rbdarkgray;
        font-size: 14px;
        margin-top: 5px;
    }
}
.blogfeed-text-preview {
    font-size: 16px;
    width: 50%;
    padding: 60px;
    padding-right: calc(50% - 400px);
    color: $rbdarkgray;
    @include flex();
    @include flex-direction(column);
    @include justify-content(space-between);
    
    > div:first-child {
        margin-bottom: 10px;
    }
}
.read-more-link {
    color: $rbdarkgray;
    text-decoration: none;
}

.blogfeed-item:nth-child(4n + 0){
    .blogfeed-title {
        background: $rbred;
    }
    .blogfeed-text-preview {
        background: lighten($rbred, 10%);
    }
}
.blogfeed-item:nth-child(4n + 1){
    .blogfeed-title {
        background: $rborange;
    }
    .blogfeed-text-preview {
        background: lighten($rborange, 10%);
    }
}
.blogfeed-item:nth-child(4n + 2){
    .blogfeed-title {
        background: $rbblue;
    }
    .blogfeed-text-preview {
        background: lighten($rbblue, 10%);
    }
}
.blogfeed-item:nth-child(4n + 3){
    .blogfeed-title {
        background: $rbteal;
    }
    .blogfeed-text-preview {
        background: lighten($rbteal, 10%);
    }
}

pre {
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    line-height: 1.4;
    color: $blue;
    background: #eaeaea;
    color: #326888;
    background: #333;
    color: #7ac5f1;
    padding: 20px;
    overflow-x: auto;
    font-size: 14px;
}
.blog-h1-wrap {
    padding: 20px;
    background: $rbteal;
    &[data-style="0"] {
        background: $rborange;
    }
    &[data-style="1"] {
        background: $rbblue;
    }
    &[data-style="2"] {
        background: $rbteal;
    }
    &[data-style="3"] {
        background: $rbred;
    }
}
.blog-h1 {
    padding: 0;
    font-family: $sans;
    font-weight: bold;
    color: $rbgray;
    max-width: 800px;
    margin: auto;
}
.blog-h1 h1 {
    color: $rbgray;
    font-family: $sans;
    font-weight: bold;
    margin:0;
    padding:0;
    font-size: 40px;
}
.blog-post-meta {
    font-family: $sans;
    color: $rbgray;
    margin-bottom: 10px;
}
body {
    min-height: calc(100vh - 200px);
}
footer {
    height: 50px;
    margin-top: 50px;
}

body {
    .formatted {
        background: $rbgray;
        color: lighten($rbblue, 10%);
        
        .comm {
            color: olivedrab;
        }
        .punc {
            color: silver;
        }
        .quot {
            color: sandybrown;
        }
        .lang {
            color: cornflowerblue;
        }
        .decl {
            color: green;
        }
        .html {
            color: magenta;
        }
        .attr {
            color: cornflowerblue;
        }
        .name {
            color: palevioletred;
        }
        .tags {
            color: silver;
        }
    }
    &.code-light-theme {
        .formatted {
            background: lightgray;
            color: darkslategray;

            .comm {
                color: olivedrab;
            }
            .punc {
                color: lightslategray;
            }
            .quot {
                color: darkred;
            }
            .lang {
                color: darkcyan;
            }
            .decl {
                color: green;
            }
            .html {
                color: magenta;
            }
            .attr {
                color: cornflowerblue;
            }
            .name {
                color: mediumvioletred;
            }
            .tags {
                color: lightslategray;
            }
        }
    }
}
.formatted {
    padding: 20px;
    font-family: monospace;
}

